<style>
.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    color: black;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 11110 !important;
}

.atwho-view .atwho-header {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-bottom: solid 1px #eaeff1;
    color: #6f8092;
    font-size: 11px;
    font-weight: bold;
}

.atwho-view .atwho-header .small {
    color: #6f8092;
    float: right;
    padding-top: 2px;
    margin-right: -5px;
    font-size: 12px;
    font-weight: normal;
}

.atwho-view .atwho-header:hover {
    cursor: default;
}

.atwho-view .cur {
    background: #3366FF;
    color: white;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: #3366FF;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
    max-height: 200px;
    overflow-y: auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
}
.atwho-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}
</style>

<div data-module="character-count" data-maxlength="{{ extras.max_length }}">
	<textarea class="govuk-textarea js-character-count {% if error %}govuk-textarea--error{% endif %}"
		  id="{{ name }}"
		  name="{{ name }}"
		  rows="10"
		  cols="40"
          {% if extras.max_length %}
              maxlength="{{ extras.max_length }}"
          {% endif %}>{{ value }}</textarea>
	{% if extras.max_length %}
		<span id="{{ name }}-info" class="govuk-hint govuk-character-count__message" aria-live="polite" style="margin-top: -10px;">
			You can enter up to {{ extras.max_length }} characters
		</span>
	{% endif %}
</div>

{% load static %}

{% block javascript %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="https://ichord.github.io/Caret.js/src/jquery.caret.js"></script>
<script type="text/javascript" src="{% static 'javascripts/jquery.atwho.js' %}"></script>
<script type="text/javascript">
  $(function(){
    var data = {{ variables|safe }};
    var id = '#{{ name }}';

    var at_config = {
      at: "{% templatetag openvariable %}",
      data: data,
      headerTpl: '<div class="atwho-header govuk-label">Variables</div>',
      insertTpl: '{% templatetag openvariable %} ${key} {% templatetag closevariable %}',
      displayTpl: "<li class='govuk-label'>${key} <small>${value}</small></li>"
    };
    $inputor = $(id).atwho(at_config);
    $inputor.caret('pos', 47);
    $inputor.focus().atwho('run');

    $('#editable').atwho(at_config);
  });
  </script>
{% endblock %}
