{% extends 'layouts/'|add:page.container|add:'.html' %}

{% load custom_tags %}

{% block back_link %}
	{% if page.back_link|classname == "Breadcrumbs" %}
		<div class="govuk-breadcrumbs">
			<ol class="govuk-breadcrumbs__list">
				{% for breadcrumb in page.back_link.back_links %}
					<li class="govuk-breadcrumbs__list-item">
						{% if breadcrumb.url and breadcrumb.url != "#" %}
							<a class="govuk-breadcrumbs__link" href="{{ breadcrumb.url }}">
								{{ breadcrumb.text }}
							</a>
						{% else %}
							{{ breadcrumb.text }}
						{% endif %}
					</li>
				{% endfor %}
			</ol>
		</div>
	{% else %}
	    {% if not form_pk or form_pk == 0 %}
			{% if page.back_link.url != '#' or page.back_link.text != 'Back' %}
				{% if page.back_link.text %}
		    		<a href="{{ page.back_link.url }}" id="back-link" class="govuk-back-link">{{ page.back_link.text }}</a>
				{% endif %}
			{% else %}
				{{ block.super }}
			{% endif %}
	    {% else %}
			<form method="post">
				{% csrf_token %}
				{% dict_hidden_field 'form_pk' form_pk %}
				{% for key, value in data.items %}
					{% dict_hidden_field key value %}
				{% endfor %}
				<button class="lite-back-link-button" role="link" id="back-link" type="submit" name="_action" value="back" action="back">{{ page.back_link.text }}</button>
			</form>
		{% endif %}
	{% endif %}
{% endblock %}

{% block two_thirds %}

	<!-- Error Summary -->
	{% if errors %}
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					{% for key, value in errors.items %}
						<li>
							<a href="#{{ key }}">
								{% for error in value %}
									{{ error }}
								{% endfor %}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	{% if page.caption %}
		<span class="govuk-caption-xl">{{ page.caption }}</span>
	{% endif %}

	{% if page.single_form_element.input_type == 'radiobuttons' or page.single_form_element.input_type == 'checkboxes' %}
		 <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
	{% endif %}
	<legend class="govuk-fieldset__legend {{ title|heading_class }}">
		<h1 class="govuk-fieldset__heading">
			{% if page.single_form_element %}
				<label for="{{ page.single_form_element.name }}">
					{{ page.title }}
				</label>
			{% else %}
				{{ page.title }}
			{% endif %}
		</h1>
	</legend>

	{% if page.description %}
		<span id="span-{{ page.single_form_element.name }}-hint" class="govuk-hint" style="display: block; margin: 0 0 15px 0;">
			{{ page.description|safe|linebreaksbr }}
		</span>
	{% endif %}

	<!-- Questions -->
	<form novalidate {% if page.post_url %}action="{{ page.post_url }}"{% endif %} method="post" enctype="multipart/form-data">
		{% csrf_token %}

		{% for question in page.questions %}
			{% if question.input_type == "html_block"  %}
				{{ question.html|safe }}
			{% elif question.input_type == "detail"  %}
				{% include "components/details.html" with component=question %}
			{% elif question.input_type == "heading" %}
				{% include "components/heading.html" with text=question.text %}
			{% else %}
				{% if question.input_type == "side_by_side" %}
					<div class="lite-side-by-side-wrapper">
						{% for question in question.questions %}
							{% include "components.html" with question=question errors=errors %}
						{% endfor %}
					</div>
				{% else %}
					{% include "components.html" with question=question errors=errors %}
				{% endif %}
		{% endif %}
	{% endfor %}

	{% if page.single_form_element.input_type == 'radiobuttons' or page.single_form_element.input_type == 'checkboxes' %}
		 </fieldset>
	{% endif %}

	<!-- Buttons -->
	<div class="govuk-form-group">
		<div class="lite-buttons-row">
			{% for button in page.buttons %}
				{% if button.link %}
					<a href="{{ button.link }}" role="button" draggable="false" data-module="govuk-button" class="{{ button.style }}" {% if button.float_right %}style="float: right;"{% endif %}>{{ button.value }}</a>
				{% else %}
					<button type="submit" name="_action" value="{{ button.action }}" id="button-{{ button.id }}" class="{{ button.style }}"
						{% if button.float_right %}style="float: right;"{% endif %}
                        data-module="govuk-button"
                        data-prevent-double-click="true"
						action="submit">
						{{ button.value }}
						{% if 'start' in button.style %}
						<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
							<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
						</svg>
						{% endif %}
					</button>
				{% endif %}
			{% endfor %}
		</div>

        <!-- Footer Label -->
		{% if page.footer_label %}
			{% include "components/label.html" with component=page.footer_label %}
		{% endif %}
	</div>

</form>

{% endblock %}
{% block one_third %}
	{% for helper in page.helpers %}
		<aside class="lite-related-items" role="complementary">
			<h2 class="govuk-heading-m" id="subsection-title">
				{{ helper.title }}
			</h2>
			{% if helper.description %}
				<p class="govuk-body">
					{{ helper.description|safe }}
				</p>
			{% endif %}
			{% if helper.includes %}
				{% include helper.includes %}
			{% endif %}
		</aside>
	{% endfor %}
{% endblock %}

{% block javascript %}
	{{ block.super }}
	{% for url in page.javascript_imports %}
		<script src="{{ url }}"></script>
	{% endfor %}
{% endblock %}
