{% extends 'layouts/two_pane.html' %}

{% load custom_tags %}

{% block twoThirds %}

	<!-- Error Summary -->
	{% if errors %}
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There are errors on this page
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					{% for key, value in errors.items %}
						<li>
							<a href="#{{ key }}">
								{{ key|title }}:
								{% for error in value %}
									{{ error }}
								{% endfor %}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	<!-- Page header and description -->
	{% if page.caption %}
		<span class="govuk-caption-l">{{ page.caption }}</span>
	{% endif %}
		<h1 class="govuk-heading-l">{{ page.title }}</h1>
		<div class="govuk-form-group">
			<p class="govuk-caption-m">
				{{ page.description }}
			</p>
		</div>

		<!-- Questions -->
		<form method="post">
			{% csrf_token %}

			{% for question in page.questions %}
				{% if question.html  %}
					{{ question.html|safe }}
				{% else %}
					{% if question.input_type == "side_by_side" %}
						<div class="lite-side-by-side-wrapper">
							{% for question in question.questions %}
								{% include "form/components.html" with question=question errors=errors %}
							{% endfor %}
						</div>
					{% else %}
						{% include "form/components.html" with question=question errors=errors %}
					{% endif %}
			{% endif %}
		{% endfor %}

		<!-- Buttons -->
		<div class="govuk-form-group">
			<div class="buttons-row">
				<button type="submit" class="govuk-button" action="submit">Save and continue</button>
				{% if draft_id %}
					<a role="button" draggable="false" class="govuk-button govuk-button--secondary" href="{% url 'new_application:overview' %}?id={{ draft_id }}">
						Go to Overview
					</a>
				{% endif %}
			</div>
		</div>
	</form>

	<script type="text/javascript">
		function showHidePanels() {
			$('input:radio').each(function () {
				var $this = $(this)
				var show_pane = $this.attr('show_pane')
				$('#' + show_pane).addClass('govuk-inset-text')

				if (show_pane) {
					if ($this.is(':checked')) {
						$('#' + show_pane).show()
					} else {
						$('#' + show_pane).hide()
					}
				}
			});
		}

		showHidePanels()

		$("input:radio").on("change", function() {
			showHidePanels()
		});
	</script>

	{% for url in page.javascript_imports %}
		<script src="{{ url }}"></script>
	{% endfor %}

{% endblock %}
{% block oneThird %}
	{% for question in page.helpers %}
		<aside class="lite-related-items" role="complementary">
			<h2 class="govuk-heading-m" id="subsection-title">
				{{ question.title }}
			</h2>
			<p class="govuk-body">
				{{ question.description }}
			</p>
		</aside>
	{% endfor %}
{% endblock %}
