<div class="govuk-checkboxes">
	{% for item in data %}
		<div class="govuk-checkboxes__item">
			<input {% if value|key_in_array:item.key %}checked{% endif %} class="govuk-checkboxes__input" id="{{ item.key }}" name="{{ name }}" type="checkbox" value="{{ item.key }}">
			<label class="govuk-label govuk-checkboxes__label" for="{{ item.key }}">
				{{ item.value }}
			</label>
			{% if item.description %}
				<label class="govuk-hint govuk-checkboxes__hint" for="{{ name }}-{{ item.key }}">
					{{ item.description|linebreaksbr }}
        		</label>
			{% endif %}
		</div>
	{% endfor %}
</div>
