<div class="govuk-form-group">
    <div class="govuk-date-input" id="date_of_issue">
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{ component.prefix }}day">
                    Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2
							{% if component.prefix in errors or component.prefix|add:component.name in errors%}
								govuk-input--error
							{% endif %}"
					   id="{{ component.prefix }}day"
					   name="{{ component.prefix }}day"
					   type="number"
					   value="{{ data.day }}"
				/>
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{ component.prefix }}month">
                    Month
                </label>
				<input class="govuk-input govuk-date-input__input govuk-input--width-2
							{% if component.prefix in errors or component.prefix|add:component.name in errors%}
								govuk-input--error
							{% endif %}"
					   id="{{ component.prefix }}month"
					   name="{{ component.prefix }}month"
					   type="number"
					   value="{{ data.month }}"
				/>
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{ component.prefix }}year">
                    Year
                </label>
				<input class="govuk-input govuk-date-input__input govuk-input--width-3
							{% if component.prefix in errors or component.prefix|add:component.name in errors%}
								govuk-input--error
							{% endif %}"
					   id="{{ component.prefix }}year"
					   name="{{ component.prefix }}year"
					   type="number"
					   value="{{ data.year }}"
				/>
            </div>
        </div>
    </div>
</div>