<div data-module="character-count" data-maxlength="{{ extras.max_length }}">
	<textarea class="govuk-textarea js-character-count {% if error %}govuk-textarea--error{% endif %}"
		  id="{{ name }}"
		  name="{{ name }}"
		  rows="10"
		  cols="40"
          {% if extras.max_length %}
              maxlength="{{ extras.max_length }}"
          {% endif %}>{{ value }}</textarea>
	{% if extras.max_length %}
		<span id="{{ name }}-info" class="govuk-hint govuk-character-count__message" aria-live="polite" style="margin-top: -10px;">
			You can enter up to {{ extras.max_length }} characters
		</span>
	{% endif %}
</div>

{% load static %}

{% block javascript %}
<script type="text/javascript" src="{% static 'javascripts/tribute.min.js' %}"></script>
<script type="text/javascript">
    var data = {{ variables|safe }};
    var id = '{{ name }}';
    var trigger = "{";

    var tribute = new Tribute({
        values: data,
        trigger: trigger,
        fillAttr: 'representation',
    });

    tribute.attach(document.getElementById(id));
</script>
{% endblock %}

<div class="govuk-label">
	<h3>Adding custom variables</h3>
	<p>Use double curly braces to add custom variables to your paragraph text:</p>
	<div class="govuk-inset-text">Hello {% templatetag openvariable %} applicant.name {% templatetag closevariable %}, your case number is {% templatetag openvariable %} case.id {% templatetag closevariable %}</div>
	<noscript>
			You can add the;
			<ul>
				{% for variable in variables %}
				<li>{{ variable.key | old_character:"." | new_character:" " | title }}, by writing <b>{% templatetag openvariable %} {{ variable.key }} {% templatetag closevariable %}</b></li>
				{% endfor %}
			</ul>
	</noscript>
</div>
