{% if component.options %}
    <div class="govuk-radios {% for class in component.classes %}{{ class }} {% endfor %}">
        {% for item in component.options %}
            {% if item.show_or %}
                <div class="govuk-radios__divider">or</div>
            {% endif %}

            {% if item %}
				<div class="govuk-radios__item">
					<input {% if data|key_in_array:item.key %}checked{% endif %} class="govuk-radios__input" {% if item.show_pane %}show_pane="{{ item.show_pane }}"{% endif %} id="{{ component.name }}-{{ item.key }}" name="{{ component.name }}" type="radio" value="{{ item.key }}">
					<label class="govuk-label govuk-radios__label" for="{{ component.name }}-{{ item.key }}">
						{{ item.value }}
					</label>
					{% if item.description %}
						<label class="govuk-hint govuk-radios__hint">
							{{ item.description|linebreaksbr }}
						</label>
					{% endif %}
				</div>
			{% endif %}
        {% endfor %}
    </div>
{% else %}
    <div class="lite-information-text">
        <span class="lite-information-text__icon" aria-hidden="true">!</span>
        <p class="lite-information-text__text">
            <span class="govuk-visually-hidden">Information</span>
            {{ component.empty_notice }}
        </p>
    </div>
{% endif %}
