<div data-module="character-count" data-maxlength="{{ extras.max_length }}">
	<textarea class="govuk-textarea js-character-count {% if error %}govuk-textarea--error{% endif %}"
		  id="{{ name }}"
		  name="{{ name }}"
		  rows="10"
		  cols="40">{{ value }}</textarea>
	{% if extras.max_length %}
		<span id="{{ name }}-info" class="govuk-hint govuk-character-count__message" aria-live="polite" style="margin-top: -10px;">
			You can enter up to {{ extras.max_length }} characters
		</span>
	{% endif %}
</div>
